#########################
#------ C lang ---------#
#########################

# compiled objects 
*.o
*.a
*.s
*.so

# compiled executables 
*.exe 
*.bin
*.out


#########################
#-------- Misc ---------#
#########################

.DS_Store

*.zip


# dont ignore test files from  lab05
!/lab05-Group12/**/tests.out

# dont ignore test files from  lab06
!/lab06-Group12/**/test?.?.out
