#########################
#------ C lang ---------#
#########################

# compiled objects 
*.o
*.a
*.s
*.so

# compiled executables 
*.exe 
*.bin
*.out


#########################
#-------- Misc ---------#
#########################

.DS_Store